.App {
  text-align: center;
  height: 1500px;
  background-color: #eee;
}

.App-navbar {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: #ffe600;
  padding: 0 10vw;
}

.App-logo {
  margin: 0 1vw;
}


.App-searchbar {
  display: flex;
  flex-direction: row;
  height: 35px;
  margin: 7.5px auto;
  align-self: baseline;
}

.App-searchbar-input, .App-searchbar-input:focus {
  border: 0;
  outline: none;
  padding: 0 1vw;
  width: 50vw;
  color: #999;
}

.App-search-icon-container {
  height: 35px;
  width: 35px;
  background-color: #eee;
}

.App-search-icon {
  height: 15px;
  width: 15px;
  margin: 10px;
}

.App-content {
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  background-color: #fff;
  height: auto;
  width: 60vw;
  margin: 35px auto;
}

.App-result {
  width: 95%;
  height: 300px;
  margin: 15px auto;
  background-color: #0d919b;
}