hr {
  margin: 0 16px;
  height: 1px;
  background-color: #eee;
  border: none;
}

.App {
  text-align: center;
  height: 1100px;
  background-color: #eee;
}

.App-navbar {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: #ffe600;
  padding: 0 10vw;
}

.App-logo {
  margin: 0 1vw;
}


.App-searchbar {
  display: flex;
  flex-direction: row;
  height: 35px;
  margin: 7.5px auto;
  align-self: baseline;
}

.App-searchbar-input, .App-searchbar-input:focus {
  border: 0;
  outline: none;
  padding: 0 1vw;
  width: 800px;
  color: #999;
}

.App-search-icon-container {
  height: 35px;
  width: 35px;
  background-color: #eee;
}

.App-search-icon {
  height: 15px;
  width: 15px;
  margin: 10px;
}

.App-breadcrumbs {
  color: #666;
  text-align: left;
  width: 932px;
  margin: 16px auto;
  font-size: 14px;
}

.App-content {
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  background-color: #fff;
  height: auto;
  width: 932px;
  margin: 0 auto;
}

.App-result {
  width: 900px;
  height: 212px;
  margin: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.App-result-img {
  width: 180px;
  height: 180px;
  margin: 16px;
  border-radius: 4px;
  background-color: #ccc;
}

.App-result-data {
  width: 475px;
  height: 180px;
  margin: 16px 0;
  text-align: left;
  color: #333;
}

.App-result-data-price {
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 16px;
}

.App-result-data-detail {
  font-size: 18px;
  margin-top: 32px;
}

.App-result-loc {
  width: 180px;
  height: 180px;
  margin: 16px;
  text-align: left;
}

.App-result-loc-detail {
  font-size: 12px;
  margin-top: 24px;
  color: #666;
}