.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-navbar {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: yellow;
  padding: 0 10vw;
}


.App-searchbar {
  display: flex;
  flex-direction: row;
  height: 30px;
  margin: 10px auto;
  align-self: baseline;
}

.App-searchbar-input, .App-searchbar-input:focus {
  border: 0;
  outline: none;
  padding: 0 1vw;
  width: 47vw;
  color: #a3a3a3;
}